@charset "UTF-8";
@font-face {
    font-family: 'droid';
    src: url(fontes/idroid.otf);
}

img {
    margin: 0 6% 0 6%;

}

body {
    background-color: #E7E5C1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

header {
    background-image: linear-gradient(to bottom, #00C455, #002d13);
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
}

header p {
    max-width: 500px;
    margin: auto;
    margin: 20px auto 20px auto;
}

nav {
    background-color: #002d13;
    padding: 10px;
}

nav a {
    font-weight: bold;
    color: #43af72;
    padding: 5px;
    margin: 20px;
    border-radius: 2px;
    text-decoration: none;
}

nav a:hover {
    background-color: #43af72;
    color: #00451E;
    transition-duration: 0.5s;
}

main {
    max-width: 900px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
    margin: auto;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;
}

main h1 {
    font-family: 'droid', Arial, Helvetica, sans-serif;
    color: #00451E;
}

main h2 {
    font-family: 'droid', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #84e1ac80, transparent);
    color: #00451E;
    padding: 2px 10px 2px 10px;
}

main p {
    text-indent: 50px;
    line-height: 30px;
    text-align: justify;
}

main strong{
    color: #009C43;
}

main a {
    padding: 5px;
    background-color: #00C455;
    color: #00451E;
    text-decoration: none;
    font-weight: bold;
}

main a::after {
    content: '\00A0\1F517';
    font-size: 13px;
}

#learnmore {
    background-color: #84e1ace1;
    border-radius: 0 0 20px 20px;
    padding: 0 10px 0 10px;
}

#learnmore ul {
    display: inline-block;
}

#titlelearnmore{
    padding: 12px;
    margin-bottom: 0;
    color: white;
    background-color: #00451ec1;
    border-radius: 20px 20px 0 0;
    margin: -10px -10px 0 -10px;
}

#bugdroid {
    max-width: max-content;
    margin: 0 30% 0 30%;
}

#videosession {
    max-width: max-content;
    margin: auto;
}

#pilearn {
    padding-top: 10px;
    margin-top: 0;
}

#pflearn {
    padding-bottom: 30px;
}

footer {
    height: auto;
    background-color: #00451E;
    padding: 7px;
    text-align: center;
    color: white;
}

footer p {
    margin: 0;
}
